<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
 .home {
    text-align: center;
 }
 .explore {
    margin-top: 20px;
    padding: 4px;
    border-radius: 6px;
    background-color: #28a745;
    color: white;
 }

 .explore:hover {
    background-color: #218838;
 }
 
</style>
<body>
    <div class="home">
    <h1>!! Welcome to the Home Booking Platform !!</h1>
    <a href="/listings" class="explore">EXPLORE NOW</a>
    </div>
</body>
</html>